{% extends "_layout.twig" %}

{% block head %}
<script src="/js/collapsable_sections.js"></script>
{% endblock %}

{% block content %}
{% set artist_link = "artists/?q=" ~ entry.artists.one().title %}
<div class="row d-flex align-items-center justify-content-center">
    <div class="spacer m-5 d-md-none"></div>
    <div class="col-11 col-md-6 mt-4 text-center">
        <img src="{{ entry.photo.one().url }}">
    </div>
    <div class="col-12 col-md-6 mt-3 text-center">
        <h1 class="album-title text-black ">{{ entry.title }}</h1>
        <h2 class="artist-title font-italic mt-2 text-underline"><u><a href="{{ url(artist_link) }}">{{ entry.artists.one() }}</a></u>
            {# <span class="col-3 fa-stack fa-4x fa-2xs pr-3">
                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                <i class="fa fa-chevron-right fa-stack-1x"></i>
            </span> #}
        </h2>
    </div>
</div>
{% if entry.notes %}
<div class="container mt-5 bg-light rounded-xl infobox">
    <div class="p-3 infobox__all">
        <div class="infobox__top d-flex justify-content-between">
            <h3 class="infobox__heading">Notes</h3>
            <span class="fa-stack fa-4x fa-2xs infobox__arrow">
                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                <i class="fa fa-chevron-right fa-stack-1x fa-rotate-270"></i>
            </span>
        </div>
        <div class="infobox__content__wrapper">
            <p class="infobox__content pt-3">{{ entry.notes }}</p>
        </div>
    </div>
</div>
{% endif %}
{% if entry.tracklist|length > 0 %}
<div class="container mt-4 bg-light rounded-xl infobox">
    <div class="p-3 infobox__all">
        <div class="infobox__top d-flex justify-content-between">
            <h3 class="infobox__heading">Tracklist</h3>
            <span class="fa-stack fa-4x fa-2xs infobox__arrow">
                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                <i class="fa fa-chevron-right fa-stack-1x fa-rotate-270"></i>
            </span>
        </div>
        <ol class="infobox__content">
            {% for track in entry.tracklist %}
                <li>{{ track.track }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}
    

{% endblock %}