{% extends "_homelayout.twig" %}

{# {% set posts = craft.entries().section('music').all() %} #}

{% block content %}

    {# <h1 class="text-4x1 text-black font-display my-4">Music</h1> #}

    {% set featureImage = entry.featureImage.one() %}
    <div class="fluid-container d-flex justify-content-center align-items-center flex-column mt-md-3 home-hero" style='background-image: url("{{ featureImage.url }}")'>
    {% for block in entry.postContent.all() %}
        {% if block.type == "text" %}
            <div class="site-desc text-white "><h1>{{ block.text }}</h1></div>
            <a href="{{ url("music") }}" class="btn btn-light btn-lg mt-4" role="button">
                Explore the Collection
                <span class="col-3 fa-stack fa-4x fa-2xs pr-3 infobox__arrow">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-chevron-right fa-stack-1x"></i>
                </span>
            </a>
        {% endif %} {# we don't want to show any attached images here #}
    {% endfor %}
        
    </div>

    {% set sections = entry.homeSection.all() %}
    {% for homeSection in sections %}
    <div class="fluid-container home-section-1 ">
        <div class="container home-section d-flex flex-row text-right">
            <div class="col-md-4">
                
            </div>
            <div class="col-11 col-md-8 d-flex flex-column justify-content-center">
                <div class="home-section-content p-4 p-md-5 rounded-lg">    
                    <h2 class="mb-3">{{ homeSection.sectionTitle }}</h2>
                    <p>{{ homeSection.sectionContent }}</p>
                </div>
            </div>
        </div> 
    </div>
    {% endfor %}
{% endblock %}